@tailwind base;
@tailwind components;
@tailwind utilities;

/* CSS Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Custom global styles for the Home page */
html, body {
  @apply w-full h-full m-0 p-0; /* Ensure full width and height with no margin and padding */
}

body {
  @apply bg-gray-100 text-gray-900  ;
}

.container {
  @apply flex flex-col min-h-screen bg-gradient-to-b from-blue-100 to-white p-4 max-w-full;
}

.header {
  @apply w-full py-6 bg-blue-500 flex justify-between items-center px-6 mt-8;
}
.logo {
  @apply flex items-center;
}

.logo img {
  @apply h-10 w-10 mr-3;
}

.app-name {
  @apply text-white text-2xl font-bold;
}

.top-buttons {
  @apply flex space-x-4 mr-4;
}

.button {
  @apply bg-white text-blue-500 border border-blue-500 py-2 px-4 rounded hover:bg-blue-100 transition duration-300;
}

.main {
  @apply flex flex-row justify-between items-center flex-grow text-left space-x-4 mt-20;
}

.intro-box {
  @apply bg-white bg-opacity-70 p-12 rounded-lg shadow-lg max-w-3xl w-full ml-12 mb-12; /* Increase max-width to max-w-3xl */
  animation: fadeIn 2s ease-in-out;
}

.welcome-heading {
  @apply text-2xl font-bold mb-4 text-blue-500;
}

.intro-text {
  @apply text-lg text-gray-700 mb-4 mt-12;
  animation: slideIn 2s ease-in-out;
}

.action-buttons {
  @apply flex space-x-4 mt-12;
}

.animated-button {
  @apply bg-blue-500 text-white border border-blue-500 py-2 px-4 rounded hover:bg-blue-600 transition duration-300;
  animation: bounce 2s infinite;
}

.welcome-sign {
  @apply flex items-center justify-center w-full max-w-lg; /* Increase max-width to max-w-lg */
}

.animated-welcome {
  @apply text-7xl font-bold text-blue-500 mr-48 mb-12; /* Increase text size to text-6xl */
  animation: fadeInSlideIn 3s ease-in-out;
}

/* Custom animations */
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes slideIn {
  from {
    transform: translateY(20px);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-10px);
  }
  60% {
    transform: translateY(-5px);
  }
}

@keyframes fadeInSlideIn {
  from {
    transform: translateX(100%);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

/* Modal style for invitation form  */
.modal-overlay {
  @apply fixed top-0 left-0 right-0 bottom-0 bg-black bg-opacity-50 flex items-center justify-center;
}

.modal-content {
  @apply bg-white rounded-lg shadow-lg p-8 max-w-md w-full;
}

.modal-header {
  @apply text-xl font-bold mb-4 text-blue-500;
}

.modal-body {
  @apply mb-4;
}

.modal-footer {
  @apply flex justify-end space-x-4;
}

.close-button,
.send-button {
  @apply bg-blue-500 text-white py-2 px-4 rounded hover:bg-blue-600 transition duration-300;
}

.close-button {
  @apply bg-gray-500 hover:bg-gray-600;
}
.form-input{
  @apply w-full px-4 py-2 border border-gray-300 rounded-md focus:outline-none focus:ring-blue-500 focus:border-blue-500;
}